@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;

  --primary: #7c3aed;
  --primary-hover: #8b5cf6;

  --muted: #a1a1aa;
  --card: #111111;
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  border-color: var(--border);
}

::selection {
  background: #7c3aed;
  color: white;
}

/* HERO ZOOM */

@keyframes slowzoom {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.15);
  }
}

.animate-slowzoom {
  animation: slowzoom 18s ease-in-out infinite alternate;
}

/* DESTINATIONS AUTO SCROLL */

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}